@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Eva2PAA</h1>
    <p class="lead">Este es el Index / Home / Inicio de la Evaluación 2. MD TT</p>
    <p><a href="https://github.com/TomiInacap" class="btn btn-primary btn-lg">GitHub &raquo;</a></p>
</div>

<div class="row">

    @ViewBag.StockTotal
    @ViewBag.teste

</div>